body {
    background: #b1a09a;
    background: -webkit-linear-gradient(to right,#eee2dd, #fae7e7);
    background: linear-gradient(to right, #eee2dd, #e7e4e4);
    min-height: 100vh;
    
}

.bg{
height: 100%;
width: 100%;
background-image: linear-gradient(rgb(69, 69, 87), rgb(212, 26, 57));
clip-path: polygon(0 0, 100% 0%, 100% 23%, 0 61%);
position: fixed;
z-index: -1;
}

.bg1{
    height: 100%;
width: 100%;
background-image: linear-gradient(rgb(3, 3, 3), rgb(184, 69, 86));
clip-path: polygon(0 100%, 0 91%, 100% 59%, 100% 100%);

position: fixed;
z-index: -1;
}


.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}

.social-link:hover, .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
}

.outer{
    transition: transform 0.3s;
}

.outer:hover{
    transform: scale(1.1);
}